<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="user.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tel</ion-label>
      <ion-input [(ngModel)]="user.tel" name="email" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
    </ion-item>
 <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="password2" name="password" type="password" required></ion-input>
    </ion-item>
    
@if(errorMessage){
    <div  class="error-message">{{ errorMessage }}</div>
}
    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">
      Register
    </ion-button>

  </form>
</ion-content>
