__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.local
.DS_Store

# Django stuff
static/
media/

# Node stuff
node_modules/
frontend/
dist/

# Python virtualenv
my_env/
venv/
.venv/

# Git
.git
.gitignore

# IDE files
.vscode/
.idea/

# Cache
*.log
