<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input 
        type="text" 
        name="username"        
        required 
        [(ngModel)]="username">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        type="password" 
        name="password" 
        required 
        [(ngModel)]="password">
      </ion-input>
    </ion-item>
@if (errorMessage) {
    <div  class="error-message">{{ errorMessage }}</div>
}
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
