<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let msg of messages()">
      <ion-label> <strong>{{msg.user_id}}:</strong> {{msg.message}} </ion-label>
    </ion-item>
  </ion-list>

  <div class="input-group">
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Type a message"
      name="message"
    ></ion-input>
    <ion-button (click)="sendMessage()">Send</ion-button>
  </div>
</ion-content>
