<ion-content class="auth-container">
  <div class="logo-container">
    <img src="assets/logo/logo2.png" alt="App Logo" class="logo" />
  </div>
  <ion-card class="card">
    <ion-card-header>
      <ion-segment
        value="login"
        (ionChange)="segmentChanged($event)"
        class="custom-segment"
      >
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>Register</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        @if (authMode === 'login') {
        <div class="create-account-container">
          <h1>Welcome Back!</h1>
          <p class="subtitle">Continue your learning journey</p>

          <ion-item lines="none" class="ion-item">
            <ion-label
              style="font-weight: 600"
              color="secondary"
              position="stacked"
              >Username</ion-label
            >
            <ion-input
              class="ion-input"
              type="text"
              placeholder="Username"
              name="username"
              [(ngModel)]="user.username"
              required
            ></ion-input>
          </ion-item>

          <ion-item lines="none" class="ion-item">
            <ion-label
              style="font-weight: 600"
              color="secondary"
              position="stacked"
              >Password</ion-label
            >
            <ion-input
              class="ion-input"
              type="password"
              placeholder="••••••••"
              name="password"
              [(ngModel)]="user.password"
              required
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            class="create-btn"
            shape="round"
            style="padding-top: 1rem"
            type="submit"
            [disabled]="authForm.invalid"
          >
            Sign In
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>

          @if (errorMessage) {
          <span style="color: red">{{ errorMessage }}</span>
          }
        </div>
        } @if (authMode === 'register') {
        <ng-container>
          <div class="create-account-container">
            <h1>Create Account</h1>
            <p class="subtitle">
              Join thousands of learners using AI-powered education
            </p>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Username <span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="text"
                placeholder="Username"
                name="username"
                [(ngModel)]="user.username"
                required
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >First Name<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="text"
                placeholder="First Name"
                name="first_name"
                [(ngModel)]="user.first_name"
                required
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Last Name<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="text"
                placeholder="Last Name"
                name="last_name"
                [(ngModel)]="user.last_name"
                required
              ></ion-input>
            </ion-item>

            <div>
              <ion-item lines="none" class="ion-item">
                <ion-label
                  color="secondary"
                  style="font-weight: 600; font-size: 0.875rem"
                  >Date Of Birth</ion-label
                >
              </ion-item>

              <ion-item class="input-item">
                <ion-icon
                  slot="start"
                  name="calendar-outline"
                  class="input-icon"
                ></ion-icon>

                <!-- Put button directly here -->
                <ion-datetime-button
                  datetime="dob"
                  class="custom-datetime-button"
                ></ion-datetime-button>
              </ion-item>
            </div>
            <!-- Move modal OUTSIDE of the ion-item -->
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="dob"
                  presentation="date"
                  [max]="maxDate"
                  [value]="user.date_of_birth || undefined"
                  (ionChange)="onDateChange($event)"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
            @if (user.date_of_birth) {
            <ion-text color="medium" class="date-preview">
              You picked: {{ user.date_of_birth | date: 'fullDate' }}
            </ion-text>
            }

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Email<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="text"
                placeholder="example@gmail.com"
                name="email"
                [(ngModel)]="user.email"
                required
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Phone Number<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="text"
                placeholder="00 000 000"
                name="tel"
                [(ngModel)]="user.tel"
                required=""
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Status</ion-label
              >
              <ion-select
                [(ngModel)]="user.status"
                (ionChange)="onStatusChange($event)"
                placeholder="Select status"
                [interfaceOptions]="statusSelectOptions"
                name="status"
              >
                @for (s of statusChoices; track s[0]) {
                <ion-select-option [value]="s[0]">
                  {{ s[1] }}
                </ion-select-option>
                }
              </ion-select>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Password<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="password"
                placeholder="••••••••"
                name="password"
                [(ngModel)]="user.password"
                required
              ></ion-input>
            </ion-item>

            <ion-item lines="none" class="ion-item">
              <ion-label
                style="font-weight: 600"
                color="secondary"
                position="stacked"
                >Confirm Password<span style="color: red">*</span></ion-label
              >
              <ion-input
                class="ion-input"
                type="password"
                placeholder="••••••••"
                name="password2"
                [(ngModel)]="password2"
                required
              ></ion-input>
            </ion-item>

            <ion-button
              expand="block"
              class="create-btn"
              shape="round"
              type="submit"
              [disabled]="authForm.invalid"
            >
              Create Account
              <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </ion-button>

            @if(errorMessage){
            <span style="color: red">{{ errorMessage }}</span>
            }

            <p class="terms">
              By signing up, you agree to our
              <a href="#">Terms of Service</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </div>
        </ng-container>
        }
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
