<ion-app>
  @if (!isAuthPage()) {
  <ng-container>
    <app-menu (logout)="logout()"></app-menu>

    <div id="main-content" class="ion-page">
      <!-- <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>SmartEdu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <!-- <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-buttons slot="start">
            <ion-menu-button class="menu-icon"></ion-menu-button>
          </ion-buttons>

          <ion-title>
            <div class="title-content ion-margin-top">
              <img
                src="assets/logo/logo2_withoutBG.png"
                alt="SmartEdu Logo"
                class="logo"
              />
              
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header> -->

      <!-- <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-buttons slot="start">
            <ion-menu-button class="menu-icon"></ion-menu-button>
          </ion-buttons>

          <ion-title>
            <div class="title-content ion-margin-top">
              <img
                src="assets/logo/logo2_withoutBG.png"
                alt="SmartEdu Logo"
                class="logo"
              />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header> -->

      <ion-header>
        <ion-toolbar class="edusmart-toolbar">
          <ion-buttons slot="start">
            <ion-menu-button
              class="menu-icon edusmart-menu-btn"
            ></ion-menu-button>
          </ion-buttons>

          <ion-title class="edusmart-title">
            <div class="title-content logo-section">
              <!-- <div class="logo-icon">
                
              </div>
              <div class="logo-text">EDUSMART</div> -->

              <img
                src="assets/logo/logo2_withoutBG.png"
                alt="SmartEdu Logo"
                class="logo"
              />
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ng-container>
  } @else {
  <ng-container>
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
  }
</ion-app>
