<ion-app>
  @if (!isAuthPage()) {
  <ng-container>
    <app-menu (logout)="logout()"></app-menu>

    <div id="main-content" class="ion-page">
      <ion-header>
        <ion-toolbar class="edusmart-toolbar tinted">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="" class="edusmart-back-btn">
            </ion-back-button>
          </ion-buttons>

          <ion-title class="edusmart-title">
            <div class="title-content logo-section">
              <img
                src="assets/logo/logo2_withoutBG.png"
                alt="SmartEdu Logo"
                class="logo"
              />
            </div>
          </ion-title>
          <ion-buttons slot="end">
            <ion-menu-button
              class="menu-icon edusmart-menu-btn"
            ></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ng-container>
  } @else {
  <ng-container>
    <ion-router-outlet></ion-router-outlet>
  </ng-container>
  }
</ion-app>
