<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="title-container">
        <h2>Enseignants</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search -->
  <ion-searchbar
    placeholder="Search ..."
    [(ngModel)]="searchTerm"
    animated
  ></ion-searchbar>

  <!-- Filters -->
  <div class="filter-container">
    <div
      *ngFor="let f of filters"
      class="chip"
      [class.active]="activeFilter === f"
      (click)="setActiveFilter(f)"
    >
      {{ f }}
    </div>
  </div>

  <!-- Enseignants list -->
  <div class="enseignants-list">
    <ion-card class="teacher-card" *ngFor="let s of filteredStudents">
      <div class="card-content">
        <div class="header">
          <div class="avatar">
            {{ getInitials(s.first_name!,s.last_name!) }}
          </div>

          <div class="info">
            <h3>{{ s.last_name }} {{ s.first_name}}</h3>
            <p class="subject">{{ s.group?.name }}</p>
          </div>
        </div>

        <div class="details">
          <div class="detail-item">
            <ion-icon name="person-outline"></ion-icon>
            <span>{{ s.username }}</span>
          </div>
          <div class="detail-item">
            <ion-icon name="call-outline"></ion-icon>
            <span>{{ s.tel }}</span>
          </div>
          <div class="detail-item">
            <ion-icon name="mail-outline"></ion-icon>
            <span>{{ s.email }}</span>
          </div>
        </div>
      </div>

      <div class="actions">
        <ion-button
          fill="clear"
          color="danger"
          (click)="onDelete(s.id!)"
          class="action-btn"
        >
          <ion-icon
            name="trash-outline"
            size="large"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
